body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	padding-bottom: 2%;
}

p {
	padding: 10px;
}

#main {
	position: absolute;
	left: 0px;
	padding: 0 10px 0 20px;
}

a {
	text-decoration: none;
	font-size: small;
	font-weight: bold;
}

ul {
	position: relative;
	left: -10px;
}

img {
	border: none;
}

#cellimg {
	float: right;
	margin: 10%;
}
