body {
  font-family: Verdana;
  margin: 0px;
  padding: 0px;
  color: darkblue;
  font-size: smaller;
}

#global {
  width: 900px;
}

#header {
  text-align: center;
  margin: 10px;
  padding: 0px;
  border-bottom: 1px solid darkblue;
  /*background: red;*/
}

#header img {
  padding-left: 5px;
  padding-right: 5px;
}

#header_name {
  font-size: xx-large;
}


#main {
  margin: 0px 20px 0px 20px;
  padding: 10px;
  /*width: 660px;*/
  /*background: red;*/
}

#project_members {
  margin: 0px 0px 0px 10px;
  padding: 0px;
  float: left;
  width: 170px;
  /*background: yellow;*/
  border-right: 1px solid darkblue;
}

#project_members h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#project_members ul {
  margin-top: 5px;
  margin-bottom: 20px;
}

#project_body {
  margin: 0px 0px 0px 220px;
  padding: 0px;
  /*width: 660px;*/
  /*background: red;*/
}

#footer {
  /*width: 100%;*/
  margin: 10px;
  font-weight: bold;
  /*margin-left: 270px;*/
  /*margin-bottom: 10px;*/
  /*background: yellow;*/
  clear: both;
}

#footer p {
  text-align: center;
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

#logos li {
  list-style-type: none;
}

a img {
  border: none;
}

.centered {
  text-align: center;
}


