---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

import ProfessionalSection from '../components/ProfessionalSection.astro';
import PersonalSection from '../components/PersonalSection.astro';
---
<Layout>
  <main>
    <Hero />
    <ProfessionalSection />
    <PersonalSection />
  </main>
</Layout>



