---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import DualPath from '../components/DualPath.astro';
---
<Layout>
  <main>
    <Hero />
    <DualPath />
  </main>
</Layout>


